html,
body {
  height: 100%;
}

body {
  display: block;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  /* background-color: #FFF; */
  background-color: #f5f5f5;
}

.form-sayit {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-sayit .checkbox {
  font-weight: 400;
}

.form-sayit .form-floating:focus-within {
  z-index: 2;
}

.form-sayit input[name="sender"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-sayit input[name="receiver"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.copyleft {
  display:inline-block;
  transform: rotate(180deg);
}

.no-decoration {
  text-decoration: none !important
}
