{% extends "base_generic_stage.html" %}

{% load humanize %}

{% block content %}
<main class="container">
  <div class="row">
    <h1 class="display-2">Have your say. Louder.</h1>
    <h1 class="display-6">Get a whole webpage to drive your point home 😜</h1>
  </div>
  <div class="mt-5 row d-flex justify-content-center p-3 rounded-3">
    <h5 class="col-lg-6">
      <table class="table table-borderless">
        <thead>
          <tr>
            <th scope="col">Views</th>
            <th scope="col">Message</th>
            <th scope="col">Said by</th>
            <th scope="col">Said to</th>
          </tr>
        </thead>
        <tbody>
          {% for msg in most_viewed_messages %}
            <tr>
              <td>{{ msg.views|intcomma }}</td>
              <td><a href="{% url 'message-detail' msg.pk %}" class="no-decoration">
                {{ msg.content|truncatechars:20 }}
                </a></td>
              <td>
                {% if msg.sender %}
                  {{ msg.sender|truncatechars:20 }}
                {% else %}
                  <span class="fw-light">Anonymous</span>
                {% endif %}
              </td>
              <td>
                {% if msg.receiver %}
                  {{ msg.receiver|truncatechars:20 }}
                {% else %}
                  <span class="fw-light">Anonymous</span>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </h5>
    <h5 class="mb-3 text-secondary">&#9652; Top 5 most viewed</h5>
  </div>
  <div class="mt-5 row d-flex justify-content-around bg-light border rounded-3">
    <div class="p-3 col-lg-3 bg-light rounded-3">
      <h1 class="display-5 text-secondary">1.</h1>
      <h2 class="fw-light">Enter your message</h2>
    </div>
    <div class="p-3 col-lg-3 bg-light rounded-3">
      <h1 class="display-5 text-secondary">2.</h1>
      <h2 class="fw-light">Get the message page</h2>
    </div>
    <div class="p-3 col-lg-3 bg-light rounded-3">
      <h1 class="display-5 text-secondary">3.</h1>
      <h1 class="display-6">Share the link!</h1>
    </div>
  </div>
  <div class="row">
    <div class="mt-5 form-sayit">
      <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="mt-2 btn btn-primary btn-lg">Say it!</button>
        <p>Never enter private data.</p>
      </form>
    </div>
  </div>
<main>
{% endblock %}

{% block footerstring %}
Made with 😺 at 🏡 by 
<a href="https://i.hsen.tech" class="no-decoration">hsen</a>. 
{% endblock %}
