{% extends "base_generic_stage.html" %}

{% block content %}
<main class="container ">
  <div class="row">
    <h1 class="display-6">
      {% if message.sender %}
        <b>{{ message.sender }}</b> said
      {% endif %}
      {% if message.receiver %}
        to <b>{{ message.receiver }}</b>:
      {% endif %}
    </h1>
  </div>
  <div class="my-3 row">
    <h1 class="display-1">
      {{ message.content }}
    </h1>
  </div>
  <p>
    {% comment %} Above content was written by someone on the Internet, not by the creator of this website.<br/ > {% endcomment %}
    Report abuse to <a href="mailto:sayit@hsen.tech" class="no-decoration">sayit@hsen.tech</a>.
  </p>
  <h6 class="py-4"><a href="{% url 'index' %}" class="no-decoration">Have your say!</a></h6>
<main>
{% endblock %}
